/* Shortcode:Full Width Box
-------------------------------------------------------------------- */
.pacz-fullwidth-boxed {
  position: relative;
  display: block;
  padding: 30px;
}
.wpb_content_element {
  margin-bottom: 20px;
}

/* Shortcode:Contact Info
-------------------------------------------------------------------- */
.pacz-contactinfo-shortcode {
  margin-bottom: 20px;
}





/* Shortcode:Google Maps
-------------------------------------------------------------------- */
.wpb_map_wraper {
  overflow: hidden;
  margin-bottom: 20px;
  line-height: 4px;
}
.wpb_map_wraper.circle-map {
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
}
.pacz-gmaps-parallax {
  overflow: hidden;
}
.pacz-gmaps-parallax > div {
  margin-top: -100px;
}

/* Gravity forms Styling
-------------------------------------------------------------- */
.gform_wrapper select {
  padding: 12px 14px 12px 20px !important;
}
.gform_wrapper select[multiple=multiple] {
  padding: 8px !important;
}
.gform_wrapper input[type=text],
.gform_wrapper input[type=url],
.gform_wrapper input[type=email],
.gform_wrapper input[type=tel],
.gform_wrapper input[type=number],
.gform_wrapper input[type=password],
.gform_wrapper textarea {
  font-size: 13px !important;
  color: #767676 !important;
  padding: 10px !important;
}
.gform_wrapper .button {
  margin-right: 10px !important;
  border: 1px solid #eee !important;
  outline: none !important;
  color: #666 !important;
  font-size: 13px;
  line-height: 13px !important;
  padding: 12px 25px !important;
  vertical-align: top;
  background-image: none !important;
  letter-spacing: 1px;
  display: inline-block;
  background-color: transparent;
}
.gform_wrapper .button:hover {
  color: #fff !important;
}
.gform_wrapper .gf_progressbar {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background-image: none !important;
}
.gform_wrapper .percentbar_blue {
  background-image: none !important;
}
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio],
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input {
  margin-left: 2px;
}
.gform_wrapper li,
.gform_wrapper form li {
  padding-bottom: 10px;
}
.gform_wrapper .top_label .gfield_label {
  margin-bottom: 6px !important;
}
@media only screen and (max-width: 550px) {
  .gform_wrapper .top_label li.gfield.gf_left_half,
  .gform_wrapper .top_label li.gfield.gf_right_half,
  .gform_wrapper .top_label li.gfield.gf_left_third,
  .gform_wrapper .top_label li.gfield.gf_middle_third,
  .gform_wrapper .ginput_complex .ginput_left,
  .gform_wrapper .ginput_complex .ginput_right,
  .gform_wrapper .top_label input.medium,
  .gform_wrapper .top_label select.medium {
    width: 99% !important;
    margin-top: 10px;
    float: none !important;
  }
}

/* dhvc*/ 
.user_is_logedin{
	background: #fff;
	width: 100%;
	text-align: center;
	padding: 30px;
}
.user_is_logedin_button-inner{
	padding:0 5px;
	display:inline-block;
}
.dhvc-form-container .vc_btn3-container{
	margin-bottom:10px;
	margin-top:6px;
}
.dhvc-form-container .vc_btn3{
	box-shadow:none;
	background:none;
}
.dhvc-form-container .vc_btn3:hover,
.dhvc-form-container .vc_btn3:visited,
.dhvc-form-container .vc_btn3:link{
	box-shadow:none;
	background:none;
	    padding: 0;
    line-height: 26px;
    font-size: 14px;
}
.dhvc-form-flat .rememberme .dhvc-form-checkbox label i {
	height:16px !important;
	margin:0 !important;

}
.dhvc-form-flat .rememberme{
margin-bottom: 10px;
    text-align: left;
    margin-top: 6px;
}
.dhvc-form-flat .rememberme.dhvc-form-checkbox label{
	color:#999 !important;
}
.form-inner-regiter-link{text-align:left;margin-top:10px;}
.form-inner-regiter-link p{display:inline-block;margin:0;}
.dhvc-register-link{margin-left:10px;}
@media handheld, only screen and (max-width: 600px) {
	.dhvc-form-container .vc_btn3-container{
		margin-bottom:0;
		margin-top:0;
	}
	.dhvc-form-flat .rememberme{
	margin-bottom: 0;
		margin-top: 0;
	}
}